@page "/strojevi/{Id:int}"

@inject IJSRuntime JsRuntime
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer

<div class="naslovDetaljiStroja">

    <h3>Detalji stroja</h3>
    @if (strojUKvaru)
    {
        <p>
            <img src="/Images/icons8-warning-48.png" width="40" height="40" />
        </p>
        <p style="color:red;"><b>Stroj je trenutno u kvaru!</b></p>
    }
</div>
@if (stroj == null)
{
    <p>Loading...</p>
}
else
{
    <p><b>Id:</b> @stroj.Id</p>
    <p><b>Ime:</b> @stroj.Ime</p>
    <p><b>Kategorija:</b> @stroj.Kategorija</p>
       

    <hr>

    <div class="dodaj-kvar-container">
        <div class="box">
        @if (stanjeIzmjeneKvara == true)
        {
            <h4>Izmijeni kvar</h4>
        }
        else
        {
            <h4>Dodaj kvar</h4>
        }
        <div class="form-grid">
                <label>Ime kvara:</label>
                <input placeholder="Ime kvara" @bind="noviKvar.Ime" />

                <label>Opis:</label>
                <textarea placeholder="Detaljan opis kvara..." @bind="noviKvar.Opis" />

                <label>Vrijeme Početka:</label>
                <div class="datetime-group">
                    <input type="date" @bind="datumPocetkaUnos" />
                    <input type="time" @bind="vrijemePocetkaUnos" />
                </div>

                <label>Vrijeme završetka:</label>
                <div class="datetime-group">
                    <input type="date" @bind="datumZavrsetkaUnos" />
                    <input type="time" @bind="vrijemeZavrsetkaUnos" />
                </div>

                @if(stanjeIzmjeneKvara == true)
                {
                    <div class="gumboviIzmjeneKvara">
                        <button @onclick="IzmijeniKvar" style="background-color: rebeccapurple">Izmijeni</button>
                        <button @onclick="OdustaniOdIzmjeneKvara" style="background-color: darkred">Otkaži</button>
                    </div>
                }
                else
                {
                    <div class="gumboviIzmjeneKvara">
                        <button class="dodajGumb" @onclick="DodajKvar">Dodaj</button>
                        <button class="dodajGumb" @onclick="GenerirajNasumicanKvar">Generiraj nasumičan kvar</button>
                    </div>
                }
            </div>
        </div>

        <div class="box"><PieChart @ref="pieChart" Width="300" Height="300" /></div>
    </div>

    <hr>

    
    <table class="table">
        <thead>
            <tr>
                <th width="20"></th>
                <th width="20"></th>
                <th>Ime kvara</th>
                <th>Opis kvara</th>
                <th>Vrijeme početka</th>
                <th>Vrijeme kraja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in kvarovi)
            {
                <tr class="@(k.Id == IdKvaraIzmjene ? "highlight-row" : "" )">
                    <td><button @onclick="() => IspuniFormuZaIzmjenuKvara(k)" style="background: transparent; border: none;"><img src="/Images/icons8-modify-48.png" width="20" height="20" /></button></td>
                    <td><button @onclick="() => ObrisiKvar(k.Id)" style="background: transparent; border: none;"><img src="/Images/icons8-delete-64.png" width="20" height="20" /></button></td>
                    <td>@k.Ime</td>
                    <td>@k.Opis</td>
                    <td>@k.VrijemePocetka</td>
                    <td>@k.VrijemeZavrsetka</td>
                </tr>
            }
        </tbody>
    </table>

    <canvas id="chartContainer" width="600" height="100"></canvas>


    <div class="spacer"></div>

}

@code {

    private HttpClient Http => ClientFactory.CreateClient("API");
    private PieChart pieChart = default!;

    private DateTime? datumPocetkaUnos;
    private TimeOnly? vrijemePocetkaUnos;
    private DateTime? datumZavrsetkaUnos;
    private TimeOnly? vrijemeZavrsetkaUnos;

    [Parameter]
    public int Id { get; set; }

    Stroj? stroj;
    List<Kvar>? kvarovi;
    bool strojUKvaru = false;
    bool stanjeIzmjeneKvara = false;
    int IdKvaraIzmjene = -1;

    private const int MAKSIMALAN_BROJ_POZIVA_CRTANJA_GRAFA = 2;
    Kvar noviKvar = new Kvar();

    protected override async Task OnInitializedAsync()
    {
        stroj = await Http.GetFromJsonAsync<Stroj>($"api/strojevi/{Id}");
        kvarovi = await Http.GetFromJsonAsync<List<Kvar>>($"api/kvarovi/stroj/{Id}");
        noviKvar = new Kvar();
        ProvjeriStrojUKvaru();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if (firstRender)
        {
            stroj = await Http.GetFromJsonAsync<Stroj>($"api/strojevi/{Id}");
            kvarovi = await Http.GetFromJsonAsync<List<Kvar>>($"api/kvarovi/stroj/{Id}");
            await NacrtajGraf();
        }
    }

    // Pomoćna funkcija koja računa postotak vremena koje je stroj proveo u kvaru od zadatog početnog vremena do sadašnjeg trenutka
    List<double?> IzracunajPostotakVremenaUKvaru(DateTime startTime)
    {

        DateTime currentTime = DateTime.Now;

        double ukupnoVrijemeUKvaru = 0;
        foreach(Kvar kvar in kvarovi)
        {
            if(kvar.VrijemeZavrsetka == null)
            {
                ukupnoVrijemeUKvaru += (currentTime - kvar.VrijemePocetka).Ticks;
            }
            else
            {
                ukupnoVrijemeUKvaru += (kvar.VrijemeZavrsetka.Value - kvar.VrijemePocetka).Ticks;
            }
        }
        double ukupnoVrijeme = (currentTime - startTime).Ticks;

        int  postotakUKvaru = (int)(ukupnoVrijemeUKvaru / ukupnoVrijeme * 100);

        return new List<double?> { 100 - postotakUKvaru, postotakUKvaru };
    }

    // Pomoćna funkcija koja provjerava postoji li aktivan kvar na stroju i postavlja boolean strojUKvaru
    void ProvjeriStrojUKvaru()
    {
        strojUKvaru = kvarovi != null && kvarovi.Any(k => k.VrijemeZavrsetka == null);
    }

    // Pomoćna funkcija koja čisti formu nakon dodavanja ili izmjene kvara
    void OcistiFormu()
    {
        noviKvar = new Kvar();
        noviKvar.Ime = "";
        noviKvar.Opis = "";
        datumPocetkaUnos = null;
        vrijemePocetkaUnos = null;
        datumZavrsetkaUnos = null;
        vrijemeZavrsetkaUnos = null;
    }

    // Funkcija koja generira nasumičan kvar, služi za jednostavnije testiranje
    public void GenerirajNasumicanKvar()
    {
        Random r = new Random();

        List<string> imenaKvarova = new List<string>
            {
                "Zastoj motora",
                "Curanje ulja",
                "Pregrijavanje",
                "Začepljeni ventil",
                "Greška senzora",
                "Klizanje zupčanika",
                "Pumpa stala",
                "Kratki spoj",
                "Preopterećenje",
                "Puknuti remen",
                "Greška strujnog kruga",
                "Nizak tlak",
                "Pad temperature",
                "Blokiran rotor",
                "Propuštanje ulja",
                "Ventilator stao",
                "Greška ventila",
                "Motor preopterećen",
                "Curenje pumpe",
                "Neispravan senzor"
            };

        string opis = "Ovo je opis kvara.";

        DateTime pocetakRaspona = DateTime.SpecifyKind(new DateTime(DateTime.Now.Year, 1, 1), DateTimeKind.Utc);
        DateTime krajRaspona = DateTime.SpecifyKind(DateTime.Now, DateTimeKind.Utc);

        var kvaroviURasponu = kvarovi
        .Where(k => k.VrijemePocetka >= pocetakRaspona)
        .OrderBy(k => k.VrijemePocetka)
        .ToList();
        List<(DateTime start, DateTime end)> slobodniIntervali = new();

        DateTime trenutniStart = pocetakRaspona;

        foreach (var k in kvaroviURasponu)
        {
            DateTime krajKvara = k.VrijemeZavrsetka ?? krajRaspona;

            if (k.VrijemePocetka > trenutniStart)
            {
                slobodniIntervali.Add((trenutniStart, k.VrijemePocetka));
            }

            trenutniStart = krajKvara;
        }

        if (trenutniStart < krajRaspona)
        {
            slobodniIntervali.Add((trenutniStart, krajRaspona));
        }

        var tezine = slobodniIntervali
            .Select(i => (i.end - i.start).TotalSeconds)
            .ToList();

        double total = tezine.Sum();
        double rnd = r.NextDouble() * total;

        double cumulative = 0;
        int index = 0;

        for (; index < tezine.Count; index++)
        {
            cumulative += tezine[index];
            if (rnd < cumulative)
                break;
        }

        var odabrani = slobodniIntervali[index];

        double range = (odabrani.end - odabrani.start).TotalSeconds;
        double sekunde = r.NextDouble() * range;

        DateTime vrijemePocetkaKvara = odabrani.start.AddSeconds(sekunde);

        var rangeKraja = (odabrani.end - vrijemePocetkaKvara).TotalSeconds;
        double sekundeKraja = r.NextDouble() * rangeKraja * 1 / 10;
        DateTime vrijemeKrajaKvara = vrijemePocetkaKvara.AddSeconds(sekundeKraja);

        noviKvar.Ime = imenaKvarova[r.Next(imenaKvarova.Count)];
        noviKvar.Opis = opis;
        datumPocetkaUnos = vrijemePocetkaKvara.Date;
        vrijemePocetkaUnos = TimeOnly.FromDateTime(vrijemePocetkaKvara);
        datumZavrsetkaUnos = vrijemeKrajaKvara.Date;
        vrijemeZavrsetkaUnos = TimeOnly.FromDateTime(vrijemeKrajaKvara);
        StateHasChanged();
    }

    // Funkcija za provjeru vrijednosti unosa novoga kvara
    async Task<Kvar> IzgradiKvar()
    {
        if (string.IsNullOrWhiteSpace(noviKvar.Ime))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Potrebno je zadati ime kvara!");
            return null;
        }
        if (string.IsNullOrWhiteSpace(noviKvar.Opis))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Potrebno je zadati opis kvara!");
            return null;
        }

        DateTime vrijemePocetka = DateTime.Now;
        DateTime? vrijemeZavrsetka = null;

        if (datumPocetkaUnos.HasValue && vrijemePocetkaUnos.HasValue)
        {
            vrijemePocetka = datumPocetkaUnos.Value.Date + vrijemePocetkaUnos.Value.ToTimeSpan();
        }

        if (datumZavrsetkaUnos.HasValue && vrijemeZavrsetkaUnos.HasValue)
        {
            vrijemeZavrsetka = datumZavrsetkaUnos.Value.Date + vrijemeZavrsetkaUnos.Value.ToTimeSpan();
        }
        vrijemePocetka = DateTime.SpecifyKind(vrijemePocetka, DateTimeKind.Utc);

        if (vrijemeZavrsetka.HasValue)
        {
            vrijemeZavrsetka = DateTime.SpecifyKind(vrijemeZavrsetka.Value, DateTimeKind.Utc);
        }
        noviKvar.VrijemePocetka = vrijemePocetka;
        noviKvar.VrijemeZavrsetka = vrijemeZavrsetka;

        if (vrijemeZavrsetka != null && (vrijemePocetka.Ticks >= vrijemeZavrsetka?.Ticks))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Vrijeme završetka mora biti nakon početka kvara.");
            return null;
        }


        foreach(Kvar kvar in kvarovi)
        {
            if (kvar.Id == noviKvar.Id)
                continue;
            if ((kvar.VrijemeZavrsetka != null && noviKvar.VrijemeZavrsetka == null && noviKvar.VrijemePocetka.Ticks <= kvar.VrijemeZavrsetka?.Ticks) ||
                (kvar.VrijemeZavrsetka == null && noviKvar.VrijemeZavrsetka != null && kvar.VrijemePocetka.Ticks <= noviKvar.VrijemeZavrsetka?.Ticks) ||
                ((kvar.VrijemePocetka.Ticks <= noviKvar.VrijemeZavrsetka?.Ticks && kvar.VrijemeZavrsetka?.Ticks >= noviKvar.VrijemePocetka.Ticks) &&
                (noviKvar.VrijemePocetka.Ticks <= kvar.VrijemeZavrsetka?.Ticks && noviKvar.VrijemeZavrsetka?.Ticks >= kvar.VrijemePocetka.Ticks)))
            {
                await JsRuntime.InvokeVoidAsync("alert", "Postoji aktivan kvar u odabranom razdoblju!");
                return null;
            }

        }

        return noviKvar;
    }

    // Funkcija za dodavanje kvara
    async Task DodajKvar()
    {
        Kvar kvarZaIzgradnju = await IzgradiKvar();
        if (kvarZaIzgradnju == null) return;
        noviKvar = kvarZaIzgradnju;

        if (kvarovi.Any(k => k.VrijemeZavrsetka == null) && noviKvar.VrijemeZavrsetka == null)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Na stroju već postoji aktivan kvar!");
            return;
        }

        var response = await Http.PostAsJsonAsync($"api/kvarovi/stroj/{Id}", noviKvar);
        if (response.IsSuccessStatusCode)
        {
            var dodaniKvar = await response.Content.ReadFromJsonAsync<Kvar>();
            kvarovi.Add(dodaniKvar);
            noviKvar = new Kvar();
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Došlo je do pogreške prilikom dodavanja kvara!");
        }
        OcistiFormu();
        ProvjeriStrojUKvaru();
        await NacrtajGraf();
    }

    // Funkcija za brisanje kvara
    async Task ObrisiKvar(int kvarId)
    {
        var response = await Http.DeleteAsync($"api/kvarovi/{kvarId}");
        if (response.IsSuccessStatusCode)
        {
            kvarovi.RemoveAll(k => k.Id == kvarId);
            StateHasChanged();
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Došlo je do pogreške prilikom brisanja kvara!");
        }
        ProvjeriStrojUKvaru();
        await NacrtajGraf();
    }

    // Funkcija za ispunjavanje forme podacima postojećeg kvara
    async Task IspuniFormuZaIzmjenuKvara(Kvar kvar)
    {
        IdKvaraIzmjene = kvar.Id;
        stanjeIzmjeneKvara = true;

        noviKvar.Ime = kvar.Ime;
        noviKvar.Opis = kvar.Opis;
        noviKvar.Id = kvar.Id;
        datumPocetkaUnos = kvar.VrijemePocetka.Date;
        vrijemePocetkaUnos = TimeOnly.FromDateTime(kvar.VrijemePocetka);
        datumZavrsetkaUnos = kvar.VrijemeZavrsetka?.Date != null
                                ? kvar.VrijemeZavrsetka?.Date
                                : null;
        vrijemeZavrsetkaUnos = kvar.VrijemeZavrsetka != null
                                ? TimeOnly.FromDateTime(kvar.VrijemeZavrsetka.Value)
                                : null;

    }

    void OdustaniOdIzmjeneKvara()
    {
        IdKvaraIzmjene = -1;
        stanjeIzmjeneKvara = false;
        OcistiFormu();
    }

    // Funkcija koja izmijenjuje postojeći kvar novim vrijednostima
    async Task IzmijeniKvar()
    {
        Kvar kvar = await IzgradiKvar();
        if (kvar == null) return;
        IdKvaraIzmjene = -1;
        stanjeIzmjeneKvara = false;
        var response = await Http.PutAsJsonAsync($"api/kvarovi/{kvar.Id}", kvar);

        if (response.IsSuccessStatusCode)
        {
            var updatedKvar = await response.Content.ReadFromJsonAsync<Kvar>();
            var index = kvarovi.FindIndex(k => k.Id == updatedKvar.Id);
            if (index != -1)
                kvarovi[index] = updatedKvar;

            StateHasChanged();
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Došlo je do pogreške prilikom izmijenjivanja kvara!");
        }
        OcistiFormu();
        ProvjeriStrojUKvaru();
        await NacrtajGraf();
    }

    class Point
    {
        public Point(double xs, double ys)
        {
            x = xs;
            y = ys;
        }
        public double x { get; set; }
        public double y { get; set; }
    }

    // Pomoćna funkcija za iscrtavanje linijskog i pie grafa
    private async Task NacrtajGraf()
    {
        if (kvarovi == null || !kvarovi.Any())
            return;

        var labels = new List<string>();
        List<Point> points = new List<Point>();
        DateTime pocetakRaspona = DateTime.SpecifyKind(new DateTime(DateTime.Now.Year, 1, 1), DateTimeKind.Utc);


        // kvarovi su originalno sortirani od najnovijeg prema najstarijima kako bi aktivan bio pri vrhu liste
        List<Kvar> kvaroviUnatrag = new List<Kvar>(kvarovi);
        kvaroviUnatrag.Reverse();

        double najstarijiDatumTicks = 0;
        foreach (var kvar in kvaroviUnatrag)
        {
            if (kvar.VrijemeZavrsetka != null && kvar.VrijemeZavrsetka.Value < pocetakRaspona)
                continue;
            else if(points.Count == 0)
            {
                points.Add(new Point(pocetakRaspona.Ticks, 0));
                labels.Add(pocetakRaspona.ToString("yyyy-MM-ddTHH:mm:ss"));
            }

            double xStart = kvar.VrijemePocetka.Ticks;
            if (najstarijiDatumTicks == 0)
                najstarijiDatumTicks = xStart;
            points.Add(new Point(xStart,0.9));
            labels.Add(kvar.VrijemePocetka.ToString("yyyy-MM-ddTHH:mm:ss"));

            if (kvar.VrijemeZavrsetka != null)
            {
                double xEnd = kvar.VrijemeZavrsetka.Value.Ticks;
                points.Add(new Point(xEnd, 0.0));
                labels.Add(kvar.VrijemeZavrsetka?.ToString("yyyy-MM-ddTHH:mm:ss"));
            }
        }
        double trenutnoVrijeme = DateTime.UtcNow.Ticks;
        Point trenutnaTocka = new Point(trenutnoVrijeme, points[points.Count() - 1].y);
        points.Add(trenutnaTocka);

        for(int i = 0; i < points.Count; i++)
        {
            points[i].x = (points[i].x - pocetakRaspona.Ticks) / (trenutnoVrijeme - pocetakRaspona.Ticks) * 100;
        }

        for (int i = 0; i < MAKSIMALAN_BROJ_POZIVA_CRTANJA_GRAFA; i++)
        {
            try
            {
                await JsRuntime.InvokeVoidAsync("crtajMojGraf", "chartContainer", labels, points);
            }
            catch (JSException ex)
            {
                Console.WriteLine("JS error: " + ex.Message);
                await Task.Delay(TimeSpan.FromSeconds(1));
            }
        }

        List<double?> postotakVremenaUKvaru = IzracunajPostotakVremenaUKvaru(pocetakRaspona);

        var data = new PieChartDataset
        {
            Data = postotakVremenaUKvaru,
            BackgroundColor = new List<string> { "#4CAF50", "#F44336" }
        };

        var chartData = new ChartData
        {
            Labels = new List<string> { "Postotak vremena stroja u pogonu", "Postotak vremena stroja u kvaru" },
            Datasets = new List<IChartDataset> { data }
        };
        var options = new PieChartOptions();

        await pieChart.InitializeAsync(chartData, options);
        await pieChart.UpdateAsync(chartData, options);
    }
 }